:root {
  --primary: #F8DE84;
  --secondary: #FDF6E6;
  --bg-professores: #F3F4F8;
  --smallText: #6A6A6A;
}

body {
  font-family: Roboto;
}

/* reescrevendo botao do bootstrap */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f9c06a;
  --bs-btn-border-color: #f8ad3d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f8ad3d;
  --bs-btn-hover-border-color: #f9c06a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f9c06a;
  --bs-btn-active-border-color: #f9c06a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dfbc87;
  --bs-btn-disabled-border-color: #f9c06a;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: var(--primary) !important;
}
.bg-header {
  background-color: var(--secondary);
}

.small-text{
  color: var(--smallText);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.8rem;
}
.medium-text{
  color: var(--smallText);
}

.bg-modal {
  background-color: rgba(88, 86, 86, 0.8);
}
.ocultar-modal {
  display: none !important;
}

.navbar-toggler{
  border: none;
}

.projeto {
  text-align: center;
}

h5 {
  text-align: justify;
}


.galeria{
  background-color:  #E7F8EE;
   padding: 20px;
}

.texto-galeria{
  text-align: justify;
  padding: 0.8rem;
}

.texto-galeria{
  text-align: justify;
  width: 100%;
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  max-width: 350px;
  margin-bottom: auto;
  margin-top: auto;
}

.imagens img {
  width: 33.33%;
  box-sizing: border-box;
  padding: 5px;
  filter: drop-shadow(8px 4px 2px #BDCBC3);
}

.bg-professores{
  background-color: var(--bg-professores);
}

@media (max-width: 768px) {
  h5{
    font-size: 1.2rem;
    text-align: justify;
    width: 100%;
  }
  
}