:root {
  --primary: #f8de84;
  --secondary: #fdf6e6;
  --bg-professores: #f3f4f8;
  --smallText: #6a6a6a;
  --card-rigth: #e3e4ff;
  --card-left: #f0f7ff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

.fs-2 {
  font-size: 2.3rem;
}

.fs-3 {
  font-size: 1.8rem;
}

.rounded-3 {
  border-radius: 0.5rem;
}

.img-logo {
  min-width: 300px;
  max-width: 350px;
}

/* reescrevendo botao do bootstrap */

.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: #f8ad3d;
  border-color: #f9c06a;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 249, 49, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #25282b;
  border-color: #191b1d;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 249, 49, 0.5);
}

.navbar-light {
  --bs-bg-opacity: 1;
  background-color: var(--primary) !important;
}

.bg-header {
  background-color: var(--secondary);
}

.small-text {
  color: var(--smallText);
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.8rem;
}

.medium-text {
  color: var(--smallText);
}

.bg-modal {
  background-color: rgba(88, 86, 86, 0.8);
}

.ocultar-modal {
  display: none !important;
}

.navbar-toggler {
  border: none;
}

h5 {
  text-align: justify;
}

.galeria {
  background-color: #e7f8ee;
  padding: 40px;
  box-shadow: 5px 5px 10px #afaeae;
}

.texto-galeria {
  text-align: justify;
  padding: 0.8rem;
}

.texto-galeria {
  text-align: justify;
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  max-width: 350px;
  margin-bottom: auto;
  margin-top: auto;
  cursor: pointer;
}

.imagens:hover {
  filter: saturate(180%);
  -webkit-filter: saturate(180%);
  -moz-filter: saturate(180%);
}

.imagens img {
  width: 33.33%;
  box-sizing: border-box;
  padding: 5px;
  filter: drop-shadow(8px 4px 2px #bdcbc3);
  border-radius: 10px;
}

.card-ebook-left {
  background-color: var(--card-left);
  box-shadow: 5px 5px 10px #afaeae;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
  margin: 20px auto 0px 10px;
  height: 95%;
}

.card-ebook-rigth {
  background-color: var(--card-rigth);
  box-shadow: 5px 5px 10px #afaeae;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
  margin: 20px 10px 0px auto;
  height: 95%;
}

.porf-col {
  display: flex;
  width: 577px;
  height: 590px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 47px;
  flex-shrink: 0;
}

.bg-professores {
  background-color: var(--bg-professores);
  box-shadow: 5px 5px 10px #afaeae;
}

.img-prof {
  filter: drop-shadow(0px 0px 7px #bdcbc3);
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-text {
  text-align: justify;
}

.img-card-ebook {
  width: 80%;
  max-width: 250px;
  position: relative;
  left: 30%;
}

.link {
  text-decoration: none;
  font-weight: bolder;
  color: #3a3a3a;
}

.link:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
}

.container-carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(88, 86, 86, 0.8);
  z-index: 99;
}

.carrousel {
  width: 55vw;
}

.close-carrousel {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.btn-carrousel {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}



.container-btn-carrousel {

  width: 5rem;
}

.container-img {
  border-radius: 20px;
}

footer {
  background-color: #ffdf7e;
  color: #130f0f;
}

#direitos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

}
a{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #ff9900;

}
a:hover{
  color: #c57600;
  text-decoration: underline;
}


@media (max-width: 768px) {
  h5 {
    font-size: 1.2rem;
    text-align: justify;
    width: 100%;
  }

  .card-ebook-left {
    margin: 20px 0px 0px 0px;
  }

  .card-ebook-rigth {
    margin: 20px 0px 0px 0px;
  }

  .galeria {
    width: 90vw;
  }

  .carrousel {
    width: 70vw;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1rem;
    height: 2rem;
    border: #000;
  }


}

@media (max-width:990px) {
  .img-logo {
    min-width: 100px;
    max-width: 250px;
  }
}